doctype html
html(lang='en')
  head
    meta(charset='utf-8')

    block title
      title page title

    meta(name='viewport' content='width=device-width, initial-scale=1')

  body(id='♥')
    block content
      div default content
